<body>
<br>
<b><h1 align="center">Editing comment_vote</h1> </b>

<div style="width:350px; margin:0 auto;">

<%= render 'form' %>

<%= link_to 'Show', @comment_vote %> |
<%= link_to 'Back', comment_votes_path %>
